@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


:root {
  --background: #f4f4f5;
  --surface: #ffffff;
  --foreground: #18181b;
  --muted: #71717a;
  --primary: #18181b; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
